.container {
  display: flex;
  justify-content: center;
  width: 70%;
  border-radius: 0.8rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (max-width: 770px) {
  .container {
    width: 100%;
  }
}
