.formControl {
  width: 30%;
  width: 320px;
  border-radius: 0.5rem;
  margin-bottom: 30px !important;
  background-color: rgb(255, 255, 255);
  align-content: stretch;
}
/* .formControl {
  display: block;
  position: absolute;
  width: 320px;
  height: 55px;
} */
.nativeselect {
  margin: 0 auto;
  color: #ec6f66;
  width: 310px;
  padding: 15px;
  height: 25px;
  cursor: pointer;
  background: url(http://sharpik.com/wip/cuteselect/arrow.png) 295px 12px
    no-repeat white;
}
.nativeselect:hover {
  background-color: transparent;
  color: rgb(15, 15, 15);
}
