body {
  background-color: rgb(248, 248, 248);
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.image {
  width: 370px;
  margin-top: 50px;
}
.note {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  background: rgb(217, 252, 215);
}
.note2 {
  font-weight: 600;
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }
  .image {
    width: 100%;
  }
}
